{% extends 'base.html.twig' %}

{% block title %}Raffle Time!{% endblock %}

{% block body %}
<h1>Raffle "{{ raffle }}"</h1>

<p>{{ entrants }} eligible entrant(s) in the database</p>

<h2>Existing Winner(s)</h2>
<ol>
{% for winner in winners %}
    <li>{{ winner }}</li>
{% else %}
    <li><em>No winner(s) yet!</em></li>
{% endfor %}
</ol>

<h2>Draw a Winner</h2>
<p><form action="{{ url('dzuelke_symfonycon2014_raffle_default_draw', {'raffle': raffle}) }}" method="post"><input type="submit" value="Draw a winner" /></form></p>
{% endblock %}