{% extends 'base.html.twig' %}

{% block title %}Raffle Time!{% endblock %}

{% block body %}
<h1>Winner registered!</h1>
<p><a href="{{ url('dzuelke_symfonycon2014_raffle_default_raffle', {'raffle': raffle}) }}">Return to raffle "{{ raffle }}"</a></p>
{% endblock %}

